<div class="brp">
   <nav class="ch">
      <a class="brq" href="/">
      <span class="bv bik brr"></span>
      </a>
      <div class="bru">
         <ul class="nav qq brs aaj">
            <li class="qp">
              {{#link-to "index" class="qn"}}
               <span class="bv bhn"></span>
               <small class="brt axz">Overview</small>
               <!-- </a> -->
               {{/link-to}}
            </li>
            <li class="qp">
              {{#link-to "index" class="qn"}}
               <span class="bv bnv"></span>
               <small class="brt axz">History</small>
               <!-- </a> -->
               {{/link-to}}
            </li>
            <li class="qp">
              {{#link-to "index" class="qn"}}
               <span class="bv bgy"></span>
               <small class="brt axz">Web Controls</small>
               <!-- </a> -->
               {{/link-to}}
            </li>
            <li class="qp">
              {{#link-to "video" class="qn"}}
               <span class="bv video"></span>
               <small class="brt axz">Video</small>
               <!-- </a> -->
               {{/link-to}}
            </li>
            <li class="qp">
              {{#link-to "statistics" class="qn"}}
               <span class="bv bau"></span>
               <small class="brt axz">Statistics</small>
               <!-- </a> -->
               {{/link-to}}
            </li>
            <li class="qp">
               <a class="qn" href="#" title="" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="Documentation">
               <span class="bv biv"></span>
               <small class="brt axz">Documentation</small>
               </a>
            </li>
            <li class="qp navLast">
               <a class="qn" href="#" title="" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="Light Controller">
               <span class="bv bgb"></span>
               <small class="brt axz">Light Controller</small>
               </a>
            </li>
         </ul>
      </div>
   </nav>
</div>
<div class="bw">
  {{outlet}}
</div>
