<div class="bw">
            <div class="brv">
                <div class="brw">
                    <h6 class="bry">Dashboards</h6>
                    <h3 class="brx">Live Video</h3>
                </div>
            </div>

            <hr class="afc agn">

            <div class="qt">
                <div role="tabpanel" class="qu active" id="support" aria-expanded="true">
                    <div class="bvf agn"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                        <img class="rounded img-fluid" style="width: 100%" src="http://69.245.219.195:8080/stream/video.mjpeg">
                    </div>
                </div>
            </div>

            <hr class="agj">

</div>
