<div class="bw">
  <div class="brv">
      <div class="brw">
          <h6 class="bry">Dashboards</h6>
          <h3 class="brx">Parameters</h3>
      </div>
  </div>
  <div class="brc agj">
     <h3 class="brd bre">Latest Parameters</h3>
  </div>
  <div class="di bsl afx afz ayo awx">
    <!-- Need to style table still -->
    <table class="table table-striped" style="width: 80%; margin-left: 10%; margin-right: 10%;">
    	<thead>
      	<tr>
        	<th>Name</th>
            <th style="text-align: center">Count</th>
            <th style="text-align: center">Type</th>
       	</tr>
      </thead>
      <tbody>
      	{{#each model as |inhabitant|}}
            <tr>
                <td style="padding-left: 2%">
                    {{inhabitant.common_name}}<br />
                    <small style="font-style: italic; padding-left: 1%">{{inhabitant.latin_name}}</small>
                </td>
                <td style="text-align: center">{{inhabitant.count}}</td>
                <td style="text-align: center">{{inhabitant.type}}</td>
            </tr>
        {{/each}}
      </tbody>
     </table>
  </div>
</div>
<hr class="agj" />
