.stream {
  border: 2px solid;
  border-color: rgb(67, 72, 87);
  border-radius: 1%;
}

.video:before {
  content: "\EB9D";
}

/* CODE FOR TOGGLE BUTTONS */
.btn-secondary {
    color: #333;
    border-color: #ccc;
}

.btn-secondary:focus,.btn-secondary:active:focus,.btn-secondary.active:focus {
  outline: none !important;
  box-shadow:none !important;
}
.btn:focus {
  outline: none !important;
  box-shadow:none !important;
}

button span {
  color: #E64759
}

button.auto span {
  color: #ccc;
}

button.active span {
  color: #1BC98E;
}

button.active.auto span {
  color: black;
}
/* END CODE FOR TOGGLE */
