<div class="brv">
   <div class="brw">
      <h6 class="bry">Admin</h6>
      <h3 class="brx">Notifications</h3>
   </div>
</div>
<ul class="nav azh age amq afe we" role="tablist">
   <li class="qp" role="presentation">
      <a href="#support" class="qn active" role="tab" data-toggle="tab" aria-controls="support" aria-expanded="true">Temperature</a>
   </li>
</ul>
<hr class="afc agn">
<div class="qt">
   <div role="tabpanel" class="qu" id="traffic" aria-expanded="false">
      <div class="di awt bvh">
      </div>
   </div>
   <div role="tabpanel" class="qu" id="sales" aria-expanded="false">
      <div class="bvf agn">
      </div>
   </div>
   <div role="tabpanel" class="qu active" id="support" aria-expanded="true">
      <div class="bvf agn">
        {{add-notification}}
      </div>
   </div>
</div>
<div class="brc agj">
   <h3 class="brd bre">Current Notifications</h3>
</div>
<div class="di bsl afx afz ayo awx">
  <!-- <div class="qu active"> -->
    <table class="table table-striped" style="width: 100%; margin-left: 2%; margin-right: 2%;">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Enabled</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Temperature Low</td>
          <td>SMS</td>
          <td><input type="checkbox" checked="checked" onclick="return false" /></td>
          <td><button type="button" class="btn btn-primary">Edit</button></td>
        </tr>
        <tr>
          <td>Temperature High</td>
          <td>SMS</td>
          <td><input type="checkbox" onclick="return false" /></td>
          <td><button type="button" class="btn btn-primary">Edit</button></td>
        </tr>
      </tbody>
    </table>
  <!-- </div> -->
</div>
<hr class="agj">
{{outlet}}
