<div class="brv">
   <div class="brw">
      <h6 class="bry">Admin</h6>
      <h3 class="brx">Add Parameter Readings</h3>
   </div>
</div>
<hr class="agn" style="border-color: #1997c6">
<div class="qt">
   <div role="tabpanel" class="qu" id="traffic" aria-expanded="false">
      <div class="di awt bvh">
      </div>
   </div>
   <div role="tabpanel" class="qu" id="sales" aria-expanded="false">
      <div class="bvf agn">
      </div>
   </div>
   <div role="tabpanel" class="qu active" id="support" aria-expanded="true">
      <div class="bvf agn">
        {{admin/add-parameters model=model}}
      </div>
   </div>
</div>
{{outlet}}
