<div class="boxTitle">
  <span onclick={{action 'switch' -1}} class="left-arrow"></span>
  <h4 style="display:inline;">{{currentTankName}}</h4>
  <span onclick={{action 'switch' 1}} class="right-arrow"></span>
</div>
  