<div class="brp">
   <nav class="ch">
      <a class="brq" href="../index.html">
      <span class="bv bik brr"></span>
      </a>
      <div class="bru">
         <ul class="nav qq brs aaj">
            <li class="qp">
               <a class="qn active" href="../index.html" title="" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="Overview">
               <span class="bv bhn"></span>
               <small class="brt axz">Overview</small>
               </a>
            </li>
            <li class="qp">
               <a class="qn" href="#" title="" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="History">
               <span class="bv bnv"></span>
               <small class="brt axz">History</small>
               </a>
            </li>
            <li class="qp">
               <a class="qn" href="webcontrol.php" title="" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="Web Controls">
               <span class="bv bgy"></span>
               <small class="brt axz">Web Controls</small>
               </a>
            </li>
            <li class="qp">
               <a class="qn" href="video.php" title="" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="Video">
               <span class="bv video"></span>
               <small class="brt axz">Video</small>
               </a>
            </li>
            <li class="qp">
               <a class="qn" href="stats.php" title="" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="Statistics">
               <span class="bv bau"></span>
               <small class="brt axz">Statistics</small>
               </a>
            </li>
            <li class="qp">
               <a class="qn" href="#" title="" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="Documentation">
               <span class="bv biv"></span>
               <small class="brt axz">Documentation</small>
               </a>
            </li>
            <li class="qp">
               <a class="qn" href="#" title="" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="Light Controller">
               <span class="bv bgb"></span>
               <small class="brt axz">Light Controller</small>
               </a>
            </li>
            <li class="qp">
               <a class="qn" href="#" title="" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="Signed in as mdo">
                  <!--<img src="../img/avatar-mdo.png" alt="" class="wc">-->
                  <small class="brt axz">@mdo</small>
               </a>
            </li>
         </ul>
      </div>
   </nav>
</div>
<div class="bw">
  {{outlet}}
</div>
