@media (min-width: 768px) {
  .brp>.bw,
  .brp>.dh {
    padding-left: 85px;
  }
}

.ch {
  margin-top: -20px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .ch {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #30343e;
    overflow-y: auto;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.ch .tooltip {
  white-space: nowrap;
}

.first_nav_item {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1;
  color: #6f7890;
  text-align: center;
  border-bottom: 0;
  background-color: #0f1013;
}

@media (min-width: 768px) {
  .first_nav_item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.first_nav_item:hover {
  color: #cfd2da;
  text-decoration: none;
}

@media (max-width: 767px) {
  .bru {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }
}

.qq .qn {
  border-radius: 0.25rem;
}

.qq .qn.active,
.qq .qp.show .qn {
  color: #252830;
  cursor: default;
  background-color: #1997c6;
}

.qq>li.active>a,
.qq>li.active>a:hover,
.qq>li.active>a:focus {
  font-weight: 500;
}

.brs .bz {
  position: absolute;
  top: 8px;
  right: 12px;
  z-index: 5;
  padding: .2em .4em;
  font-size: 11px;
  line-height: 1;
  border-radius: 10px;
  border: 2px solid #30343e;
}

.brs>.qp {
  float: none;
  display: inline-block;
}

@media (min-width: 768px) {
  .brs>.qp {
    display: block;
  }
}

.brs>.qp>.qn {
  position: relative;
  padding: 10px 12px;
  font-size: 18px;
  color: inherit;
  text-align: center;
  border-radius: 0;
}

@media (min-width: 768px) {
  .brs>.qp>.qn {
    padding: 15px;
  }
}

.brs>.qp+.qp {
  margin-left: -3px;
}

.brs>.qp+.qp>.qn {
  border-left: 1px solid #252830;
}

.brs>.qp+.qp>.qn.active,
.brs>.qp+.qp>.qn.active:focus,
.brs>.qp+.qp>.qn.active:hover,
.brs>.qp+.qp>.qn.active:active {
  color: #555;
  background-color: #252830;
}

.brs>.qp+.qp>.qn.active .bz,
.brs>.qp+.qp>.qn.active:focus .bz,
.brs>.qp+.qp>.qn.active:hover .bz,
.brs>.qp+.qp>.qn.active:active .bz {
  border-color: #252830;
}

@media (min-width: 768px) {
  .brs>.qp+.qp {
    margin-left: 0;
  }
  .brs>.qp+.qp>.qn {
    border-top: 1px solid #252830;
    border-right: 0;
  }
}

.brs>.navLast {
  border-bottom: 1px solid #252830;
}

.brs>.qp>.qn>img {
  width: 26px;
  margin: 0 auto;
}

.aaj {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.nav>.ayx {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  font-size: 85%;
  font-weight: normal;
  letter-spacing: 1px;
  color: #51586a;
  text-transform: uppercase;
}

.nav>li+.ayx {
  margin-top: 20px;
}